.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #d8d8d8;
  border-radius: 10px;
  padding: 20px;
  width: 60vw;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: black;
  text-align: left;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  outline: none;
  border-color: #4e90a7;
}

.buttonSave {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.buttonSave:hover {
  background-color: #00fd1e;
}

.buttonSave:active {
  transform: scale(0.98);
}
