* {
  margin: 0;
  padding: 0;
}


.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  color: #fff;
  background-image: url('./public/ParkingLotFundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
